<h2>Databases</h2>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th style="width: 200px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let db of databases">
      <td>{{ db.name }}</td>
      <td><img [src]="getImage(db)"></td>
      <td>
        <button class="btn btn-success btn-sm" (click)="backup(db)">Backup</button>
        <button class="btn btn-success btn-sm">Restore</button>
      </td>
    </tr>
  </tbody>
</table>
