<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th colspan="4" style="padding: 0; text-align: center">
          <div class="col-md-12 uploadfrm">
              <p style="margin: 0">
                <span class="btn btn-primary btn-file">
                  Upload new version <input type="file" (change)="fileChanged($event)">
                </span>
              </p>
            </div>
      </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Version</th>
      <th>Date Received</th>
      <th>Status</th>
      <th style="width: 200px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of models">
      <td>{{ model.version }}</td>
      <td>{{ model.dateReceived | date:'medium' }}</td>
      <td></td>
      <td>
        <button class="btn btn-success btn-sm" (click)="download(model)">Download</button>
      </td>
    </tr>
  </tbody>
</table>
