<div class="query-container row">
  <div class="col-md-6">
    <div style="display: flex;margin-bottom: 20px;">
        <h3>Reset Databases</h3>
        <button (click)="resetDB()" class="btn btn-success">Reset</button>
    </div>
    
    <div style="display: flex;margin-bottom: 20px;">
      <h3>Select Query</h3>
      <button (click)="runInsert()" class="btn btn-success">Run</button>
    </div>
    <textarea [(ngModel)]="insertQuery" class="form-control"></textarea>

    <div style="display: flex;margin-bottom: 20px;">
      <h3>Insert/Update Query</h3>
      <button (click)="runUpdate()" class="btn btn-success">Run</button>
    </div>
    <textarea [(ngModel)]="updateQuery" class="form-control"></textarea>
  </div>

  <div class="col-md-6">
    <div>
      <p>{{result}}</p>
    </div>
  </div>
</div>