<div class="query-container row">
  <div class="col-md-6">
    <div>
      <h4>Insert Query</h4>
      <button (click)="runInsert()" class="btn btn-success">Run</button>
    </div>
    <textarea [(ngModel)]="insertQuery" class="form-control"></textarea>
    <div>
      <h4>Update Query</h4>
      <button (click)="runUpdate()" class="btn btn-success">Run</button>
    </div>
    <textarea [(ngModel)]="updateQuery" class="form-control"></textarea>
    <div>
      <h4>Batch Query</h4>
      <button (click)="runBatch()" class="btn btn-success">Run</button>
    </div>
    <textarea [(ngModel)]="batchQuery" class="form-control"></textarea>
  </div>

  <div class="col-md-6">
    <div class="result">{{ result }}</div>
  </div>
</div>




